*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  border: 1px solid black;

}

.header-block{
  display: flex;
  justify-content: center;
  margin: 32px 0px;
}

.block{
  width: 200px;
  background-color: #CB6BE6;
  border-radius: 12px;
}
  .block1{
    width: 220px;
    background-color: #CB6BE6;
    border-radius: 12px;
  }
 .paragraph-container{
  margin: 32px 0px;
 }

 .paragraph-container .para-line{
  text-align: center;
 }
.text{
  color: white;
  text-align: center;
  padding: 8px;

}
.line{
  color: #CB6BE6;
  text-align: center;
  padding: 8px;
}



.disc-italic{
  color: #CB6BE6;
}

.card{
  width: 120px;
}

.card1{
  width: 150px;
}

.image{
  height: 100px;
  width: 100px;
}

.disc-italic{
  font-style: italic;
}

.card-image{
  display: flex;
  justify-content: center;
  padding: 8px;
}

.card-discription{
  padding: 8px 0px;
  text-align: center;
}

.card-block{
  display: inline-flex;
  gap: 40px;
}


.mother-div{
  margin: 64px 0px;
  display: flex;
  justify-content: center;
}





